body {
    background-color: #f5ebe0;
    font-family: 'Franklin Gothic Medium', Helvetica, sans-serif;
}

h1 {
    color: #501304;
}

p {
    color: rgb(146, 48, 18);
}

a {
    color: rgb(47, 107, 6);
}

a:hover, a:focus {
    color:rgb(28, 61, 6)
}

main {
    padding: 0 200px;
}